.btn-p {
  color: var(--p5);
  background: var(--gradiente);
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.3;
  width: fit-content;
  transition: ease 0.2s all;
}

.btn-mais-sobre {
  color: var(--p5);
  background: var(--gradiente);
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.3;
  width: fit-content;
  transition: ease 0.2s all;
  position: relative;
  display: flex;
  align-items: center;
}

.btn-mais-sobre::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-left: 12px;
  background: url("/img/icones/seta-ir.svg");
  transition: transform 0.2s;
}

.btn-mais-sobre:hover::after {
  transform: translateX(4px);
}

.btn-p:hover,
.btn-p2:hover,
.btn-mais-sobre:hover {
  filter: brightness(0.7);
}

.btn-p2 {
  color: var(--c1);
  background: var(--c7);
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.3;
  width: fit-content;
  transition: ease 0.2s all;
}

.btn-p3 {
  color: var(--p1);
  font-size: 1.5rem;
  text-align: center;
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .btn-p {
    font-size: 1.1rem;
    padding: 12px 24px;
  }

  .btn-p2 {
    font-size: 1.1rem;
    padding: 12px 24px;
  }

  .btn-p3 {
    font-size: 1.1rem;
  }
}
